# Example .env file - do not use for real credentials
MT5_LOGIN=5045134125
MT5_PASSWORD=JuGx!5Kd
MT5_SERVER=MetaQuotes-Demo

TELEGRAM_TOKEN=8531428244:AAFvnYRIeoD1rzd5yr-uceBDIBk9CZ4REKI
TELEGRAM_CHAT_ID=8437636808
